@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Titillium+Web:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li, ol {
  list-style: none; }

main h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0; }
  main h1 strong {
    font: normal 36px/1.4 'Abril Fatface';
    color: #BD8F4D;
    letter-spacing: 1px; }
  main h1 span {
    font: normal 12px/1 'Titillium Web';
    opacity: 0.8;
    letter-spacing: 2px;
    color: #BD8F4D; }
main nav {
  position: absolute;
  top: 11vh;
  right: 4vw;
  font-size: 0; }
  main nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    main nav ul li {
      font: 18px/1 'Titillium Web';
      padding: 5px 10px;
      color: #BD8F4D;
      text-transform: uppercase; }

main section {
  height: 100vh;
  perspective: 500px;
  transform-style: preserve-3d;
  transform: rotateY(60deg);
  display: flex;
  justify-content: center;
  align-items: center; }
  main section .wrap {
    width: 220px;
    height: 200px;
    position: relative; }
    main section .wrap .item {
      width: 200px;
      height: 200px;
      background: #ddd;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden; }
      main section .wrap .item:nth-of-type(1) {
        background: rgba(200, 235, 160, 0.5);
        transform: rotateY(0deg) translateZ(173px); }
      main section .wrap .item:nth-of-type(2) {
        background: rgba(255, 255, 255, 0.5);
        transform: rotateY(60deg) translateZ(173px); }
      main section .wrap .item:nth-of-type(3) {
        background: rgba(255, 255, 255, 0.5);
        transform: rotateY(120deg) translateZ(173px); }
      main section .wrap .item:nth-of-type(4) {
        background: rgba(255, 255, 255, 0.5);
        transform: rotateY(180deg) translateZ(173px); }
      main section .wrap .item:nth-of-type(5) {
        background: rgba(255, 255, 255, 0.5);
        transform: rotateY(240deg) translateZ(173px); }
      main section .wrap .item:nth-of-type(6) {
        background: rgba(255, 255, 255, 0.5);
        transform: rotateY(300deg) translateZ(173px); }

main .btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20vw, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  main .btnPrev span {
    font: 11px/1 'arial';
    color: #fff;
    transform: translateX(30%);
    transition: 0.5s; }
  main .btnPrev::before, main .btnPrev::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transition: 0.5s; }
  main .btnPrev::before {
    transform: rotate(-180deg); }
  main .btnPrev::after {
    transform: rotate(180deg); }
  main .btnPrev:hover span {
    opacity: 0;
    transform: translateX(100%); }
  main .btnPrev:hover::before {
    transform: rotate(-30deg); }
  main .btnPrev:hover::after {
    transform: rotate(30deg); }
main .btnNext {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(20vw, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  main .btnNext span {
    font: 11px/1 'arial';
    color: #fff;
    transform: translateX(-30%);
    transition: 0.5s; }
  main .btnNext::before, main .btnNext::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transition: 0.5s; }
  main .btnNext::before {
    transform: rotate(180deg); }
  main .btnNext::after {
    transform: rotate(-180deg); }
  main .btnNext:hover span {
    opacity: 0;
    transform: translateX(-100%); }
  main .btnNext:hover::before {
    transform: rotate(30deg); }
  main .btnNext:hover::after {
    transform: rotate(-30deg); }

main > p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  font: 12px/1 'Titillium Web';
  color: #BD8F4D;
  letter-spacing: 2px;
  opacity: 0.8; }

main {
  width: 100%;
  height: 100vh;
  background: #191919; }

/*# sourceMappingURL=style.css.map */
