figure{
  h1{
    position: absolute; 
    top: 7vh;
    left: 4vw;
    font-size: 0;

    strong{
      font: normal 36px/1.4 'Luckiest Guy';
      color: $blue;
      letter-spacing: 1px;text-transform: uppercase;
    }
    span{
      font: normal 12px/1 'Luckiest Guy';
      opacity: 0.8; letter-spacing: 5px;
      color: $blue; text-transform: uppercase; 
    }
  }

  nav{
    position: absolute;
    top: 11vh;
    right: 4vw;
    font-size: 0;

    #boxes div { 
      display: flex;
      align-items: center; 
      justify-content: center;
    }
    
    
    #boxes {
      display: flex; justify-content: center;
    }
    
    
    #boxes div {
      font: 18px/1 'Luckiest Guy';
      width: 5vw;
      height: 5vw;
      min-width: 5em;
      min-height: 5em;
      transition: .5s all ease;
      color: #fff;
      border: 0 solid transparent;
      border-radius: 50%;
      margin: .5em;
      opacity: .7;
      --dx: calc(var(--size) - var(--x));
      --dy: calc(var(--size) - var(--y));

      &:nth-of-type(1){background: #f44336;}
      &:nth-of-type(2){background: #e91e63;}
      &:nth-of-type(3){background: #9c27b0;}
    }
    
    

    #boxes div:hover {
      opacity: 1;
      cursor: pointer;
      border: calc(2px + .85vw) solid rgba(255, 255, 255, .5);
      transition:
        .5s background-color ease,
        .2s border ease;
    
      border-radius:
        calc(var(--x) / var(--size) * 100%) 
        calc(var(--dx) / var(--size) * 100%)
        calc(var(--dx) / var(--size) * 100%) 
        calc(var(--x) / var(--size) * 100%) / 
        calc(var(--y) / var(--size) * 100%) 
        calc(var(--y) / var(--size) * 100%) 
        calc(var(--dy) / var(--size) * 100%) 
        calc(var(--dy) / var(--size) * 100%) 
    }
    

    




    // ul{
    //   display: flex; justify-content: flex-end; align-items: center;

    //   li{
    //     font: 18px/1 'Luckiest Guy';
    //     padding: 5px 10px;
    //     color:$blue;
    //     text-transform: uppercase;
    //   }
    // }
  }
}