main{
  h1{
    position: absolute; 
    top: 7vh;
    left: 4vw;
    font-size: 0;

    strong{
      font: normal 36px/1.4 'Abril Fatface';
      color: $gold;
      letter-spacing: 1px;
    }
    span{
      font: normal 12px/1 'Titillium Web';
      opacity: 0.8; letter-spacing: 2px;
      color: $gold;
    }
  }

  nav{
    position: absolute;
    top: 11vh;
    right: 4vw;
    font-size: 0;

    ul{
      display: flex; justify-content: flex-end; align-items: center;

      li{
        font: 18px/1 'Titillium Web';
        padding: 5px 10px;
        color:$gold;
        text-transform: uppercase;
      }
    }
  }
}