figure{
  width: 100%;
  height: 100vh;
  background: $light;
  overflow: hidden;
  position: relative;

  section{
    width: 20vw;height: 55vh;
    position: absolute; left: 50%; top: 150%;
    margin-top:  -32vh;
    margin-left: -10vw;
    transition: 1s;

    article{
      width: 100%;
      height: 100%;
      position: absolute; top: 0; left: 0;

      .inner{
        width: 100%; height: 100%; position: relative;
        background: #ffff;
        padding: 5vh 3.0vw 8vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
        border-radius: 10px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);


        .pic{
          width: 100%; height: 100%;
          border-radius: 155px;
          background-color: #333; color: #fff; font-weight: Orbitron;
          background-repeat: no-repeat;
          background-position: 200%;
          position: relative;
          display: flex; justify-content: center; align-items: center;

            &::after {
            content: '';
            display: block;
            width: inherit; height: inherit;
            border-radius: inherit;
            position: absolute; top: 0; left: 0;
            background-image: inherit;
            background-repeat: inherit;
            background-position: center;
            background-size: cover;
          }


        }

        .txt{
          width: 100%; position: relative; text-align: center; 
          h2{
            font: bold 24px/1 'Gaegu'; padding: 10px 0;
            color: #222;
            margin-bottom: 2vh;
          }
        }
      }
    }
  }
}