main{
  section{
    height: 100vh;
    perspective: 500px;
    transform-style: preserve-3d;
    transform: rotateY(60deg);

    //wrap을 가운데 정렬
    display: flex; justify-content: center; align-items: center;

    .wrap{
      width: 220px; height: 200px; 
      position: relative;

      .item{
        width: 200px;height: 200px;
        background: #ddd;
        position: absolute; top:0; left: 0;
        //글자 가운데로
        display: flex; justify-content: center; align-items: center;
        backface-visibility: hidden;


        //앞으로 나오게 탄젠트값 구함
  
        //article별 색상
        &:nth-of-type(1){
          background: rgba(200, 235, 160, 0.5);
          transform: rotateY(0deg)  translateZ(173px);
        }
        &:nth-of-type(2){
          background: rgba(255,255,255,0.5);
          transform: rotateY(60deg)  translateZ(173px);
        }
        &:nth-of-type(3){
          background: rgba(255,255,255,0.5);
          transform: rotateY(120deg)  translateZ(173px);
        }
        &:nth-of-type(4){
          background: rgba(255,255,255,0.5);
          transform: rotateY(180deg)  translateZ(173px);
        }
        &:nth-of-type(5){
          background: rgba(255,255,255,0.5);
          transform: rotateY(240deg)  translateZ(173px);
        }
        &:nth-of-type(6){
          background: rgba(255,255,255,0.5);
          transform: rotateY(300deg)  translateZ(173px);
        }

  
  
      }
    }


  }
}