@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@400;700&family=Luckiest+Guy&family=Mochiy+Pop+P+One&display=swap');



$light: #FCF6F5;
$blue: #7b9acc;

@import './reset';

@import './header';
@import './panels';
@import './btns';
@import './footer';



main{
  width: 100%; height: 100vh;
  background: #191919; 
}